<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <dubbo:application name="consumer_app"/>

    <dubbo:registry address="zookeeper://112.74.36.223:2181"/>
    <dubbo:consumer timeout="5000"/>
    <!--此处的id可以不用和provider中的ref一致-->
    <dubbo:reference id="demoService11" interface="com.lc.dubbo.IProvider"/>
</beans>